.about {
  margin-top: 140px;
}
.about-images {
  position: relative;
  width: 370px;
  height: 280px;
  display: flex;
  box-shadow: 10px 2px 15px rgba(0.1, 0, 0.1, 0.1);
  margin: auto;
}
.content-desc {
  padding-left: 2px;
  text-align: justify;
}
.line-content li {
  font-family: "roboto";
  width: 420px;
}
@media (max-width: 500px) {
  .line-content li {
    width: 15rem;
  }
  .line-images {
    max-width: 200px;
    max-height: 200px;
    display: flex;
    object-fit: cover;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
}
.line-images {
  width: 400px;
  height: 400px;
  display: flex;
  object-fit: cover;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.team-item {
  overflow: hidden;
}
.team-img {
  transition: all ease-in-out 0.4s;
  width: 255px;
  height: 255px;
  display: flex;
  object-fit: cover;
  padding: 2px;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .team-img {
    margin: auto;
  }
}
.team-item:hover img {
  transform: scale(1.1);
}

.structur-content {
  .structur-title {
    color: white;
  }
  background-color: #1a5b83;
}

.capability-title {
  text-align: center;
}
.capability-subtitle {
  text-align: start;
  margin-top: 25px;
  margin-bottom: 10px;
}
.capability-content {
  margin: 30px;
  .card {
    margin-top: 200px;
  }
}
.client-title {
  text-align: center;
}
.client-subtitle {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 10px;
}
.client-content {
  background-color: #1a5b83;
  padding: 20px;
  .card {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .internasional-image {
    margin: auto;
    align-items: center;
    align-content: center;
    width: 200px;
    padding-bottom: 2rem;
  }
  .card {
    padding: 30px;
  }
}
.client-image {
  width: 1020px;
  padding-bottom: 30px;
  margin: auto;
}
.client-title {
  color: white;
}
